:root {
    --color-primary: #FFFAF1;
    --color-secondary: #f2deb8;
    --color-accent: #3B82F6;
    --color-neutral-dark: #10284f;
    --color-neutral-light: #E5E7EB;
}

body {
    background-color: var(--color-primary);
    color: var(--color-neutral-dark);
}

.card {
    background-color: var(--color-secondary);
    border: 1px solid var(--color-neutral-light);
    padding: 1rem;
    border-radius: 12px;
}

.btn-primary {
    background-color: var(--color-accent);
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 8px;
}

.btn-secondary {
    background-color: var(--color-primary);
    color: var(--color-accent);
    border: 1px solid var(--color-accent);
    padding: 0.5rem 1rem;
    border-radius: 8px;
}

.landscape-image {
    width: 100%;
    height: auto;
    aspect-ratio: 6 / 1;
    /* Tỉ lệ landscape phổ biến */
    object-fit: cover;
    /* Ảnh fill đầy khung, không méo */
    border-radius: 12px;
    /* Bo góc nhẹ */
    box-shadow: 0 2px 16px #0001;
    /* Đổ bóng nhẹ */
    display: block;
    background: #eee;
}

.card-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.card-image-frame {
    width: 100%;
    aspect-ratio: 16 / 9;
    /* Thay đổi 4 / 3 hoặc 1 / 1 nếu muốn */
    overflow: hidden;
    border-top-left-radius: 0.5rem;
    /* Bo tròn góc trên, tuỳ thích */
    border-top-right-radius: 0.5rem;
    background: #f8fafc;
    /* Màu nền dự phòng nếu ảnh lỗi */
    display: block;
}

.fee {
    color: #006d49;
    font-weight: bold;
    font-size: 1.2rem;
    letter-spacing: 1px;
    margin-top: 8px;
    display: inline-block;
}

.badge {

    color: white;
    padding: 4px 8px;
    border-radius: 5px;
    width: fit-content;
}

.badge-open {
    background-color: green;
}

.badge-closed {
    background-color: rgb(139, 139, 139);
}

.badge-upcoming {
    background-color: orange;
}