.p-galleria .p-galleria-item-wrapper {
    height: 350px;
}

.p-galleria .p-galleria-item {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f5f5f5;
}

.p-galleria .p-galleria-item img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: 100%;
    object-fit: contain;
    /* giữ nguyên tỉ lệ, không cắt */
}

.p-galleria .p-galleria-item-nav {
    color: black;
}

.p-button {
    width: 200px;
    background-color: #BCFEFE;
    border: 2px, #001C44;
    border-radius: 20px;
    color: #001C44;
}