.p-paginator{
    display:flex !important; align-items:center; justify-content:center;
    gap:10px; padding:8px 0;
    flex-wrap:nowrap !important; white-space:nowrap;
    background:transparent; border:0;
}
.p-paginator .p-paginator-pages{
    display:inline-flex !important; align-items:center; gap:8px;
    flex-wrap:nowrap !important;
}
.p-paginator .p-paginator-page{
    width:40px;height:40px;border-radius:12px;border:1px solid #e7ecfe;background:#fff;color:#41506a;
}
.p-paginator .p-highlight{
    background:var(--pg-brand); color:#fff; border-color:transparent;
}
.p-paginator .p-paginator-first,.p-paginator .p-paginator-prev,
.p-paginator .p-paginator-next,.p-paginator .p-paginator-last{
    width:40px;height:40px;border-radius:12px;border:1px solid #e7ecfe;background:#fff;color:#9aa6b2;
}
